html {
   background: url(https://img.goodfon.ru/original/1920x1080/0/e6/elka-el-derevya-sneg-zima.jpg);
   background-repeat: no-repeat;
   color: white;
}

body {
   background-color: unset;
   color: rgb(59, 0, 0);
   font-family: var;
}

.words {
   color: black;
}

.table {
   background: white;
}

.form {
   background: whitesmoke;
   width: 300px;
   padding: 20px;
   border-radius: 15px;
   margin: 100px auto;
   text-align: center;
   box-shadow: 0 0 30px 10px;
}