<div class = "form">
  <div class = "words mb-2">Result:</div>
    <div class = "words">
      <table border = "1" class="table">
          <div>Числа</div>
          <% @armstrong_numbers.each do |value| %>
          <tr>
              <%= value %>
          </tr>
        <% end %>
          <div>Количество</div>
          <%= @armstrong_numbers.length %>
          <div></div>
        </table>
      <%= link_to "Try again", :arms_input %>
    </div>
</div>